# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
yallm.egg-info/

# Virtual environments
.venv/

# Python environment files
.env

# Editors
.idea/
.vscode/

# Others
*.log
deploy-backups/
data/
certs/
